@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: 0, 0, 0;
  --background: #F7F8FA;
  --text: #333;
}

/* *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground: 255, 255, 255;
    --background: 0, 0, 0;
  }
} */

body {
  color: var(--text);
  background-color: var(--background);
}

/* @layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */
